{% extends "core/base.html" %}
{% load static %}

{% block pagetitle %}
	Home
{% endblock pagetitle %}

{% block scripts %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="{% static 'core/js/home.js' %}"></script>
{% endblock scripts %}

{% block content %}
{% load thumbnail %}
	
	<div class="slider">
		{% for slider in sliders %}
			<img src="{{ slider.img.url }}" alt="">
		{% endfor %}
	</div>
	<div class="section">
		<h2 class="heading"><span>Noticias destacadas</span></h2>
		<div class="posts">
			{% for post in posts %}
				<a href="{% url 'article' post.id %}" class="post">
					<div class="post__img">
						<img src="{{post.img.post_thumb.url}}" alt="">
						<div class="post__meta">
							<span>{{post.published|date:"SHORT_DATE_FORMAT"}}</span> - <span>Por: {{ post.author.get_full_name }}</span>
						</div>
					</div>
					<h3 class="post__title">{{ post.title }}</h3>
					<p class="post__excerpt">{{ post.excerpt }}</p>
				</a>
			{% endfor %}
		</div>
		{% if not posts %}
		<center><h4>No hay artículos en este momento</h4></center>
		{% endif %}
	</div>

{% endblock content %}