{% extends "core/base.html" %}

{% block pagetitle %}
	{{page.name}}
{% endblock pagetitle %}

{% block scripts %}
	
{% endblock scripts %}

{% block content %}
{% load static thumbnail%}

	{% if page.img %}
	<div class="page__heading">
			<img src="{% static 'core/img/angle.svg' %}" alt="" class="angle">
			<img src="{{page.img.hero.url}}" alt="" class="page__img">
		<h1>{{page.name}}</h1>
	</div>
	{% endif %}

	<div class="section">
		{% if not page.img %}
			<h2 class="heading"><span>{{page.name}}</span></h2>
		{% endif %}
		<div class="the__content">
			{{page.content|safe}}


			{% if user.is_authenticated %}
				<br>
				<a class="link" href="{% url 'admin:pages_page_change' page.id %}"><i class="fas fa-pencil-alt"></i> Editar página</a>
			{% endif %}
		</div>
	</div>

{% endblock content %}